<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/style.css" />

    <title>Load Shedder</title>
  </head>
  <body>
    <h1>Load Shedder</h1>

    <div class="controls">
      <button id="essential">Essential Service</button>
      <button id="nonEssential">Non-Essential Service</button>
    </div>

    <p id="output"></p>

    <script src="/frontend/static/js/script.js"></script>
  </body>
</html>
